@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
} */

* {
    margin: 0;
    padding: 0;
}

body {
    color: wheat;
    background-image: url(../../public/bg_test2.jpg);
    background-position: bottom;
    background-size: cover;
    font-family: "Pinyon Script", cursive;
}

body::before {
    content: "";
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Ajustez la valeur pour l'opacité */
}

h2 {
    color: white;
}

h3 {
    color: white;
}
