@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: wheat;
    background: linear-gradient(
        to bottom,
        #f4f6f7 0%,
        #ffbdfd 50%,
        #ad8196 100%
    );

    font-family: "Pinyon Script", cursive;
}

h2 {
    color: #5a1735;
}

h3 {
    color: white;
}
