.successMessage {
    color: green;
    margin-top: 30px;
    margin-left: 80px;
}

.errorMessage {
    color: red;
    margin-top: 30px;
    margin-left: 80px;
}

.formWithMargin {
    margin-top: 10px;
}

.customForm {
    margin-top: 80px;
    color: wheat !important;
}

.customDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.customInput {
    width: 100%;
    margin-top: 30px;
    border: 1px solid wheat;
    border-radius: 10px;
    text-align: center;
    background-color: transparent;
    color: gray;
}

.customInput::placeholder {
    color: wheat;
}

.customTextarea {
    text-align: center;
    width: 100%;
    min-height: 100px;
    margin-top: 30px;
    border: 1px solid wheat;
    border-radius: 10px;
    background-color: transparent;
    color: gray;
}

.customTextarea::placeholder {
    color: wheat;
}

.customSubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    min-height: 30px;
    color: gray;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.customButton {
    margin-top: 30px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

@media (max-height: 640px) {
    .successMessage {
        margin-top: 15px;
        margin-left: 0px;
    }

    .errorMessage {
        margin-top: 15px;
        margin-left: 0px;
    }

    .customForm {
        margin-top: 25px;
        color: wheat !important;
    }

    .customDiv {
        display: grid;
        grid-template-columns: 1fr;
    }

    .customInput {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .customTextarea {
        width: 80%;
        min-height: 50px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .customSubmit {
        margin-top: 100px;
        width: 50%;
    }

    .customButton {
        margin-top: 15px;
    }
}
