.section {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-align: center;
}

.section a {
    display: block;
    text-decoration: none;
}
